*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(55, 56, 59, 0.7),rgba(55, 56, 59, 0.7)),url("./images/logo02.avif");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.clg_links{
    flex: 1;
    text-align: right;
}
.clg_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.clg_links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}.clg_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fc4437;
    display: block;
    margin: auto;
    transition: o.5s;
}
.clg_links ul li:hover::after{
    width: 100%;

}
.text_box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate( -50%,-50%);
    text-align: center;

}
.text_box h1{
    font-size: 62px;
}
.text_box P{
    margin: 10px 0 40 px;
    font-size: 14PX;
    color: white;
}
.cen_univ{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.cen_univ:hover{
    border:1px solid #696666;
    background: #4b2222;
    transition: 1s;

}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(112, 122, 139);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course_col{
    flex-basis: 31%;
    background: #ce9393;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.campus{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus_col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus_col img{
    width:100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: rgba(251, 175, 175, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities_col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities_col img{
    width: 100%;
    border-radius: 10px;
}
.facilities_col  p{
    padding: 0;
}
.facilities_col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.appraisals{
    width:80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;    
}
.appraisals_col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #faf7f7;
    cursor: pointer;
    display: flex;
}
.appraisals_col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    
}
.appraisals_col p{
    padding: 0%;
}
.appraisals_col h3{
    margin-top: 15px;
}
.contact{
    margin:100px auto;
    width:80%;
    background-image: linear-gradient(rgba(7, 7, 7, 0.7),rgba(9, 9, 9, 0.7)),url(images/skr.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contact h1{
    color: #faf7f7;
    margin-bottom: 40px;
    padding: 0;
}
.Footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.Footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
































































